# Yarn 4
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Node dependencies
node_modules

# Environment variables
.env
keys

# Anchor files
.anchor
test-ledger
**/*.rs.bk

# Output folders
.next
.vercel
target

# Visual Studio Code
.vscode

# MacOS
.DS_Store
